html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.MuiSlider-mark {
  height: 10px;
  color: antiquewhite;
}
.MuiSlider-markLabel {
  color: antiquewhite;
}

@media screen and (max-width: 400px) {
  .MuiSlider-markLabel {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 400px) and (max-width: 650px) {
  .MuiSlider-markLabel {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 650px) {
  .MuiSlider-markLabel {
    font-size: 2rem;
  }
}

.MuiSlider-markLabel[data-index='0'] {
  color: #ef5350;
}
.MuiSlider-markLabel[data-index='2'] {
  color: #fff;
}
.MuiSlider-markLabel[data-index='4'] {
  color: #00e676;
}

